header {
    inline-size: 100%;
    block-size: 50px;
    max-inline-size: 1180px;
    margin: auto;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-style: groove;
}
main {
    inline-size: 100%;
    block-size: 520px;
    max-inline-size: 1180px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}
footer {
    inline-size: 100%;
    block-size: 10%;
    max-inline-size: 1180px;
    margin: auto;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-style: groove;
}