body{
    background-color: aqua;
    display: flex;

}

.form-signup{
    width: 100%;
    max-width: 350px;
    padding: 16px;
    margin: auto;
}

.form-signup input[type="text"]_{
    margin-bottom: 15px;
    border-radius: 12px;
}

.form-signup input[type="email"]_{
    margin-bottom: 10px;
    border-radius: 12px;
}

.form-signup input[type="password"]_{
    margin-bottom: 10px;
    border-radius: 12px;
}

.has-asterisk > label::after{
    padding-left: 5px;
    content: "*";
    color: red;
}

