<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customers</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <style>

        thead th:nth-child(1) {inline-size: 5%;text-align: center;}
        thead th:nth-child(2) {inline-size: 15%;text-align: center;}
        thead th:nth-child(3) {inline-size: 15%;text-align: center;}
        thead th:nth-child(4) {inline-size: 15%;text-align: center;}
        thead th:nth-child(5) {inline-size: 20%;text-align: center;}
        thead th:nth-child(6) {inline-size: 10%;text-align: center;}
        thead th:nth-child(7) {inline-size: 5%;text-align: center;}
        thead th:nth-child(8) {inline-size: 5%;text-align: center;}

    </style>
</head>
<body>
<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a th:href="@{/index}" style="color: blue">
                    На главную
                </a>
            </li>
            <li>
                <a th:href="@{/sales}"> КОНТРАКТЫ </a>
            </li>
            <li>
                <a th:href="@{/employees}"> ТЕЛЕФОННЫЙ СПРАВОЧНИК </a>
            </li>
            <li>
                <a th:href="@{/warehouse}"> СКЛАД ПРОДУКЦИИ </a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container" >
            <header>
                <div style="inline-size: 64px;
                            block-size: 64px;
                            display: flex;
                            align-items: center;
                            vertical-align: middle;
                            ">
                    <span>
                        <img th:src="@{/image/factory.png}" alt="2"/>
                    </span>
                </div>
                <div class="col-lg-12 text-center">
                    <span>
                        <h4> БАЗА ПРЕДПРИЯТИЙ И ОРГАНИЗАЦИЙ </h4>
                    </span>
                </div>
            </header>
            <main>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <table class="table table-striped w-auto">
                            <thead>
                                <tr>
                                    <th> № </th>
                                    <th> Наименование </th>
                                    <th> Адрес </th>
                                    <th> Руководитель </th>
                                    <th> Телефон </th>
                                    <th> E-mail </th>
                                    <th> Действия </th>
                                    <th>
                                        <a th:href="@{/add_customer}">
                                            <img th:src="@{/image/commission.png}" style="inline-size: 32px; block-size: 32px"/>
                                        </a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                            <tr th:each="customer, iStat:${customers}">
                                <td th:utext="${iStat.index+1}"></td>
                                <td th:utext="${customer.getFirm()}"></td>
                                <td th:utext="${customer.getAddress()}"></td>
                                <td th:utext="${customer.getLeaderManager()}"></td>
                                <td th:utext="${customer.getTelephone()}"></td>
                                <td th:utext="${customer.getEmail()}"></td>

                                <td>
                                    <a th:href="@{/delete_customer(id=${customer.id})}">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-eraser-fill"
                                             viewBox="0 0 16 16">
                                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                        </svg>
                                    </a>
                                    &nbsp
                                    <a th:href="@{/edit_customer(id=${customer.id})}">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-pencil-fill"
                                             viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </a>
                                    &nbsp
                                    <a>

                                    </a>
                                <td>
                                </td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </main>
            <footer>

            </footer>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
</body>
<script th:src="@{/js/menu.js}"></script>
</html>