<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{css/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        thead th:nth-child(1) {width: 5%;text-align: center;}
        thead th:nth-child(2) {width: 8%;text-align: center;}
        thead th:nth-child(3) {width: 8%;text-align: center;}
        thead th:nth-child(4) {width: 20%;text-align: center;}
        thead th:nth-child(5) {width: 20%;text-align: center;}
        thead th:nth-child(6) {width: 20%;text-align: center;}
        thead th:nth-child(7) {width: 10%;text-align: center;}
        thead th:nth-child(8) {width: 5%;text-align: center;}
        thead th:nth-child(9) {width: 4%;text-align: center;}
    </style>
</head>
<body>
<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a th:href="@{/index}" style="color: blue">
                    На главную
                </a>
            </li>
            <li>
                <a th:href="@{/signup}"> РЕГИСТРАЦИЯ </a>
            </li>
            <li>
                <a th:href="@{/signin}"> ВХОД </a>
            </li>
            <li>
                <a href="#"> ВЫХОД </a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container" style="width: 100%;">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>СПИСОК ПОЛЬЗОВАТЕЛЕЙ</h1>
                    <table class="table table-striped w-auto">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Логин</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Фамилия</th>
                                <th scope="col">Разрешение</th>
                                <th scope="col">Допуск</th>
                                <th scope="col">Действия</th>
                                <th>
                                    <a th:href="@{/signup}">
                                        <img th:src="@{/image/new_user.png}"/>
                                    </a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                        <!--/*@thymesVar id="users" type="users"*/-->
                        <tr th:each="user, iStat:${users}">
                            <td th:utext="${iStat.index+1}"></td>
                            <td th:utext="${user.username}"></td>
                            <td th:utext="${user.email}"></td>
                            <td th:utext="${user.firstName}"></td>
                            <td th:utext="${user.lastName}"></td>
                            <td>
                                <th:block th:each="role:${user.roles}">
                                    <!--/*@thymesVar id="role" type="lombok"*/-->
                                    <span th:if="${role.name=='ADMIN'}"
                                          th:utext="${role.name}" class="badge bg-primary"></span>
                                    <span th:if="${role.name=='USER'}"
                                          th:utext="${role.name}" class="badge bg-success"></span>
                                    <span th:if="${role.name=='GUEST'}"
                                          th:utext="${role.name}" class="badge bg-warning"></span>
                                    <span th:if="${role.name=='CREATOR'}"
                                          th:utext="${role.name}" class="badge bg-secondary"></span>
                                    <span th:if="${role.name=='EDITOR'}"
                                          th:utext="${role.name}" class="badge bg-primary"></span>
                                </th:block>
                            </td>
                            <td th:if="${user.enabled}" class="text-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-check-square"
                                     viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                                </svg>
                            </td>
                            <td th:unless="${user.enabled}" class="text-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-file-x"
                                     viewBox="0 0 16 16">
                                    <path d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                </svg>
                            </td>
                            <td>
                                <a th:href="@{/delete_user(id=${user.id})}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         fill="currentColor"
                                         class="bi bi-eraser-fill"
                                         viewBox="0 0 16 16">
                                        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                    </svg>
                                </a>
                                &nbsp
                                <a th:href="@{/edit_user(id=${user.id})}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-pencil-fill"
                                        viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                            <td>
                        </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
</body>
<script th:src="@{/js/menu.js}"></script>
</html>